.search{
	display: flex;
	flex-direction: row;
	padding: 0 20upx;
	position: fixed;
	top: 100;
	z-index: 999;
}

.ico{
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10upx;
}

.search-ico{
	width: 50upx;
	height: 50upx;
}

.text{
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 650upx;
}

.movice-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 100upx 16upx 0 16upx;
	background-color: #ffffff;
}

.movice-wapper{
	padding: 10upx 20upx;
	background-color: #ffffff;
}

.img{
	width: 200upx;
	height: 270upx;
}
